<!DOCTYPE html>
  <head>
    <meta charset="utf-8">

    <title>Ringa ToDo MVC Example</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  </head>
  <body>
    <div class="react-app"></div>

    <!--[if gte IE 9 | !IE ]><!-->
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
      <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
    <![endif]-->
  </body>
</html>