html {
  font-family: "Roboto", sans-serif;
}

input[type=text] {
  margin: 0;
  outline: 0;
  -webkit-appearance: none;
  tap-highlight-color: rgba(255, 255, 255, 0);
  line-height: 1.21428571em;
  padding: 0.67857143em 1em;
  font-size: 1em;
  background: #fff;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.28571429rem;
  box-shadow: 0 0 0 0 transparent inset;
  transition: color 0.1s ease, border-color 0.1s ease;
}

input[type=checkbox]{
  margin:10px;
}

ul{
  list-style: none;
  padding: 0;
  width:100%;
}

ul li{
  padding:10px;
  margin:10px;
  border:1px solid #ccc;
}